<%inherit file="api.html" />

<%block name="apicontent">

<div class="row" style="height:46px">
    <div class="input-group col-xs-12" style="padding-left:12px; padding-right:12px">
        <select onchange="query()" name="select-client" id="client-id" class="chosen-select col-xs-3">
            <option value="">全部</option>
            %for client in clients:
            <option ${
            'selected' if client_id==client['id'] else ''} value="${client['id']}">${client['name']}</option>
            %endfor
        </select>
        <script>
            function query(){window.location.href="?client-id="+$('#client-id').val();}

        </script>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h5 class="header smaller lighter blue">统计</h5>
    </div>

    <div class="col-xs-12">
        <div class="widget-body">
            <div class="widget-main row">
                <iframe style="border:0;height:200px"
                        src="/management/charts?category=${category}&type=TIME&api-id=${api.id}&client-id=${client_id}&height=180"
                        class="col-xs-6"></iframe>
                <iframe style="border:0;height:200px"
                        src="/management/charts?category=${category}&type=VISIT&api-id=${api.id}&client-id=${client_id}&height=180"
                        class="col-xs-6"></iframe>
            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <h5 class="header smaller lighter blue">错误详细</h5>
    </div>
    <div class="col-xs-12">
        <table class="table table-hover table-striped" style="margin-bottom:10px">
            <thead>
            <tr>
                <th>#</th>
                <th>类型</th>
                <th>描述</th>
                <th>错误量</th>
                <th>首次出现</th>
                <th>最近出现</th>
                <th>详细</th>
            </tr>
            </thead>
            <tbody>
            %for error in error_list:
            <tr>
                <td>${(paginator.current-1)*paginator.num_per_page + 1 +loop.index }</td>
                <td>${error.exc_type | h }</td>
                <td>${error.exc_message | h}</td>
                <td>${error.occurrence_total}</td>
                <td>${error.occurrence_first}</td>
                <td>${error.occurrence_last}</td>
                <td><a href="#${error.id}" class="danger" style="cursor:pointer" data-target="#myModal" data-toggle="modal">查看</a></td>
            </tr>
            %endfor
            </tbody>
        </table>
        <ul class="pagination pull-right" style="margin:0;">
            %if paginator.prevlist:
            <li>
                <a href="?page=${paginator.prevlist[-1]}">
                    <i class="ace-icon fa fa-angle-double-left"></i>
                </a>
            </li>
            %else:
            <li class="disabled">
                <a href="#">
                    <i class="ace-icon fa fa-angle-double-left"></i>
                </a>
            </li>
            %endif

            %for p in paginator.prevlist:
            <li>
                <a href="?page=${p}">${p}</a>
            </li>
            %endfor

            <li class="active">
                <a href="#">${paginator.current}</a>
            </li>

            %for p in paginator.nextlist:
            <li>
                <a href="?page=${p}">${p}</a>
            </li>
            %endfor

            %if paginator.nextlist:
            <li>
                <a href="?page=${paginator.nextlist[0]}">
                    <i class="ace-icon fa fa-angle-double-right"></i>
                </a>
            </li>
            %else:
            <li class="disabled">
                <a href="#">
                    <i class="ace-icon fa fa-angle-double-right"></i>
                </a>
            </li>
            %endif
        </ul>
    </div>
</div>


</%block>

<%block name="jsblock">
<script>
function displayError(){

    var id = $(this).attr('href').replace('#', '');
    $('#error-trace').empty();
    $('#error-context').empty();

    function callback(response){
        $('#error-trace').text(response.traceback);
        $("#error-context").jJsonViewer(response.context);
    }

    $.post('/management/action', {action: 'displayerror', id:id}, callback);
}

$(document).ready(function(){
    $('table tr td a').click(displayError);
});

</script>
</%block>

<%block name="modal">
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">查看详细</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="word-break: break-all;">
                    <pre id="error-trace" class="col-xs-12 alert alert-danger"></pre>
                    <div id="error-context" class="col-xs-12"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</%block>

