<%inherit file="base.html" />

<%block name="pagecontent">
<div class="row">
    <div class="col-xs-12">
        <div id="task-tab" class="tab-pane active">
            <h4 class="smaller lighter green">
                Applications 列表
            </h4>

            <!-- #section:pages/dashboard.tasks -->
            <ul id="tasks" class="item-list ui-sortable">
                <li class="item-orange clearfix ui-sortable-handle">
                    <div style="vertical-align: middle;font-size:40px; float:left">
                        <i class="fa fa-mobile"></i>
                    </div>
                    <div style="margin-left: 40px">
                        <h5><a href="/management/applications/apphosting">APP Hosting</a></h5>
                        <div class="grey">Android 和 iOS 应用 Hosting</div>
                    </div>
                </li>

            </ul>

            <!-- /section:pages/dashboard.tasks -->
        </div>
    </div>
</div>
</%block>