<%inherit file="api.html" />

<%block name="apicontent">
<div class="row" style="height:46px">
        <div class="input-group col-xs-12" style="padding-left:12px; padding-right:12px">
            <select name="select-client" id="form-field-1" placeholder="" class="chosen-select col-xs-3">
                <option value="">选择客户端</option>
                %for client in clients:
                <option value="${client.id}">${client.name}</option>
                %endfor
            </select>
            <a id="add-client-auth" class="btn btn-primary btn-sm no-border">添加  <i class="ace-icon fa fa-plus"></i></a>
            <input type="HIDDEN" name="apiid" value="${api.id}">
        </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>客户端名称</th>
                <th>授权人</th>
                <!--<th>TOKEN</th>-->
                <th>时间</th>
            </tr>
            </thead>
            <tbody>
            %for auth in auth_list:
            <tr>
                <td>${loop.index + 1}</td>
                <td><a href="/management/client/${auth.auth_client.id}">${auth.auth_client.name}</a></td>
                <td>${auth.user_auth.name}</td>
                <!--<td><a class="auth-token" href="/management/action?action=displaytoken&auth_id=${auth.id}" style="cursor:pointer; text-decoration:none;">......</a></td>-->
                <td>${auth.created}</td>
            </tr>
            %endfor
            </tbody>
        </table>
    </div>
</div>


</%block>


<%block name="jsblock">
<script>
function addAuthClient(){
	$('#add-client-auth').attr('disable', true);
    var clientId = $('[name=select-client]').val();
    if (clientId == ''){
        return false;
    }
	var apiId = $('[name=apiid]').val();
	var paras = {action:'authclientadd', id: clientId, api_id:apiId};
	$.getJSON('/management/action', paras, function(response){
		if(response.success == 1){
			window.location.reload();
        }
		else {
			alert(response.message);
            $('#add-client-auth').removeAttr('disable');
		}
	})
	return false;
}
function viewToken(){
    var url = $(this).attr('href');
    var td = $(this).parent();
    function callback(response){
        var token = response.token;
        $(td).children('a').hide();
        $(td).append('<span class="">'+token+'</span>');
        setTimeout(function(){$(td).find('span').hide();$(td).find('a').show();}, 1000*20);
    }
    $.getJSON(url, {}, callback);
    return false;
}
$(document).ready(function(){
    $('#add-client-auth').click(addAuthClient);
    $('.auth-token').click(viewToken);
})

</script>
</%block>
