<%inherit file="base.html" />

<%block name="pagecontent">

<div class="document" id="-tap">
<h1 class="title"> Tap使用配置和说明</h1>

<div class="note">
<p class="first admonition-title">Note</p>
<p class="last">文档旨在向 Tap开发者和数据使用者解释说明  Tap  的用法与运行原理</p>
</div>
<div class="contents topic" id="contents">
<p class="topic-title first">Contents</p>
<ul class="simple">
<li><a class="reference internal" href="#id1" id="id14">首页</a></li>
<li><a class="reference internal" href="#id2" id="id15">数据库</a><ul>
<li><a class="reference internal" href="#id3" id="id16">数据库管理</a></li>
<li><a class="reference internal" href="#id4" id="id17">数据库查询</a></li>
</ul>
</li>
<li><a class="reference internal" href="#id5" id="id18">项目</a><ul>
<li><a class="reference internal" href="#id6" id="id19">创建项目</a></li>
<li><a class="reference internal" href="#id7" id="id20">项目详情</a></li>
</ul>
</li>
<li><a class="reference internal" href="#id8" id="id21">客户端</a><ul>
<li><a class="reference internal" href="#id9" id="id22">客户端信息</a></li>
<li><a class="reference internal" href="#id10" id="id23">添加新客户端</a></li>
</ul>
</li>
<li><a class="reference internal" href="#id11" id="id24">管理</a><ul>
<li><a class="reference internal" href="#id12" id="id25">用户权限管理</a></li>
<li><a class="reference internal" href="#id13" id="id26">添加新用户</a></li>
</ul>
</li>
</ul>
</div>
<div class="section" id="id1">
<h1><a class="toc-backref" href="#id14">首页</a></h1>
<ol class="arabic simple">
<li>首页做为项目运行信息展示 显示所有项目API响应时间、访问量</li>
<li>响应时间主要显示 所有项目API响应时间最高值（MAX）和最低值（MIN）以及平均值（AVG）</li>
<li>访问量主要显示 项目API访问量 以及项目API的错误量</li>
</ol>
</div>
<div class="section" id="id2">
<h1><a class="toc-backref" href="#id15">数据库</a></h1>
<div class="section" id="id3">
<h2><a class="toc-backref" href="#id16">数据库管理</a></h2>
<ol class="arabic">
<li><dl class="first docutils">
<dt>点击数据库 可以添加新数据库 创建数据库链接 （名称 、类型、 连接字符串）</dt>
<dd><ul class="first last simple">
<li>数据库名称 为英文加数字加下滑线的组合</li>
<li>数据库类型 共4中 MYSQL SQLSEVER PSSQL ORACLE 可进行选择</li>
<li>连接字符串 以下有详细说明：</li>
</ul>
</dd>
</dl>
</li>
<li><dl class="first docutils">
<dt>MYSQL 连接字符串 驱动为mysqldb：</dt>
<dd><ul class="first last simple">
<li>如host=localhost,user=tap,passwd=tap,db=test,charset=(数据库地址;用户名;密码;数据库名称)</li>
</ul>
</dd>
</dl>
</li>
<li><dl class="first docutils">
<dt>oracle 连接字符串 驱动为cx_Oracle：</dt>
<dd><ul class="first last simple">
<li>如tap/<a class="reference external" href="mailto:tap&#64;localhost">tap&#64;localhost</a>/（数据库/用户名&#64;链接地址/id名称）</li>
</ul>
</dd>
</dl>
</li>
<li><dl class="first docutils">
<dt>mssql(sqlsever)连接字符串 驱动为pyodbc：</dt>
<dd><ul class="first last simple">
<li>如DSN=tap;DATABASE=tap;UID=tap;PWD=admin;链接名;数据库名;id名称;密码）</li>
</ul>
</dd>
</dl>
</li>
</ol>
</div>
<div class="section" id="id4">
<h2><a class="toc-backref" href="#id17">数据库查询</a></h2>
<ol class="arabic simple">
<li>点击数据库名称 进入后可以通过SQL语句 点击运行 查询相关数据</li>
<li>点击数据库名称 进入后可以执行SQL语句 可在数据中查看 信息中显示所有字段（字段类型 、长度等）</li>
</ol>
</div>
</div>
<div class="section" id="id5">
<h1><a class="toc-backref" href="#id18">项目</a></h1>
<div class="section" id="id6">
<h2><a class="toc-backref" href="#id19">创建项目</a></h2>
<ol class="arabic">
<li><dl class="first docutils">
<dt>点击项目 可以添加新项目（项目标识、名称）</dt>
<dd><ul class="first last simple">
<li>项目标示 格式为英文、数字组合</li>
<li>项目名称 格式为中文</li>
</ul>
</dd>
</dl>
</li>
<li><p class="first">点击项目名称 可进入项目详情 可添加和编辑API</p>
</li>
</ol>
</div>
<div class="section" id="id7">
<h2><a class="toc-backref" href="#id20">项目详情</a></h2>
<ol class="arabic simple">
<li>可编辑和修改项目名称 搜索API和编辑API</li>
<li>项目详情 可见API列表 列表中名称为调用功能的名称</li>
<li>点击API名称 可进行API编辑 选择主从数据库 缓存时间 以及数据持久化所存放的数据库配置</li>
</ol>
<ul class="simple">
<li>API</li>
</ul>
<ol class="arabic simple">
<li>API列表 进入后可进行配置基本信息 参数列表 编写SQL语句并执行</li>
<li>配置基本信息 API名称 功能名称 数据库选择需要的数据库</li>
<li>负载均衡选择备用数据库 负载均衡配置（placeholder=&quot;PRIMARYDB=PRIMARYDB:20,SECONDARYDB1:40,SECONDARYDB2:40;&quot; 数据库名称=数据库：比例）总值为100</li>
<li>缓存时间更具需求配置 缓存持久化选择相依数据库进行持久化</li>
<li>操作类型 查询操作(select)为只读 增删改(updata delete insert)为读写</li>
<li>参数列表 为API所传数据配置 顺序为名称 默认值 类型 可选参数（如是必须的 可不设默认值 可选的 需要填写默认值）</li>
<li>代码 为SQL语句以及python语句 可进行编写以及执行 要将参数列表中参数写入SQL语句</li>
</ol>
<ul>
<li><dl class="first docutils">
<dt>SQL语句调用实例:</dt>
<dd><blockquote class="first">
<p>&#64;innercode为SQL语句参数 SQL传参(API参数) 参数前加&#64;</p>
</blockquote>
<div class="system-message">
<p class="system-message-title">System Message: WARNING/2 (<tt class="docutils">docs.rst</tt>, line 79)</p>
<p>Block quote ends without a blank line; unexpected unindent.</p>
</div>
<pre class="last literal-block">
select (case c.chargeratetype when 8 then '管理费' when 9 then '托管费' end) as FLLX
        where c.innercode=&#64;innercode and c.ifexecuted=1 and c.chargeratetype in (8,9)
</pre>
</dd>
</dl>
</li>
<li><dl class="first docutils">
<dt>python语句调用实例:</dt>
<dd><p class="first">userid, lastid, typeii为python语句参数(API参数) python语句最后以return list未结束</p>
<pre class="last literal-block">
def main():
        tpp = 20
        g_cursor.execute(&quot;&quot;&quot;SELECT TOP %s × FROM ASS_CALLEVENT WHERE (USERID = ? OR EVENTTYPEII IN(1101, 1103))AND id &lt; ?
        AND EVENTTYPEII = ? ORDER BY id DESC&quot;&quot;&quot; % (tpp,), (userid, lastid, typeii) )
        result = g_cursor.fetchall()
        datalist = list()
        for row in result:
            row = list(row)
            datalist.append(row)
        datalist.insert(0, [c[0] for c in g_cursor.description])
        return datalist
</pre>
</dd>
</dl>
</li>
<li><p class="first">API发布</p>
</li>
</ul>
<ol class="arabic simple">
<li>发布选项 授权类型 OPEN为开发 无需验证</li>
<li>AUTH为需要验证 需要KEY值 设置好后可进行发布</li>
<li>所有版本 显示的为所有发布的项目和信息</li>
</ol>
<ul class="simple">
<li>API授权</li>
</ul>
<ol class="arabic simple">
<li>通过添加 可对添加的客户端进行授权</li>
</ol>
<ul class="simple">
<li>API统计</li>
</ul>
<ol class="arabic simple">
<li>统计所有项目的响应时间和访问量 以及所有错误信息</li>
</ol>
<ul class="simple">
<li>API缓存管理</li>
</ul>
<ol class="arabic simple">
<li>可以通过项目名称 加入项目 生成缓存</li>
</ol>
</div>
</div>
<div class="section" id="id8">
<h1><a class="toc-backref" href="#id21">客户端</a></h1>
<div class="section" id="id9">
<h2><a class="toc-backref" href="#id22">客户端信息</a></h2>
<ol class="arabic simple">
<li>点击添加 可以添加新客户端 可见客户端相关信息</li>
<li>添加新客户端（客户端名称、说明）</li>
</ol>
</div>
<div class="section" id="id10">
<h2><a class="toc-backref" href="#id23">添加新客户端</a></h2>
<ol class="arabic simple">
<li>添加客户端名称和描述</li>
</ol>
</div>
</div>
<div class="section" id="id11">
<h1><a class="toc-backref" href="#id24">管理</a></h1>
<div class="section" id="id12">
<h2><a class="toc-backref" href="#id25">用户权限管理</a></h2>
<ol class="arabic simple">
<li>可见用户列表和用户的相关权限</li>
</ol>
</div>
<div class="section" id="id13">
<h2><a class="toc-backref" href="#id26">添加新用户</a></h2>
<ol class="arabic simple">
<li>添加新用户</li>
</ol>
</div>
</div>
</div>
</%block>