<%inherit file="base.html" />

<%block name="pagecontent">
<div class="row" style="height:53px">
    <a data-toggle="modal" href="#write" data-target="#myModal" class="btn-new-mail pull-right">
		<span class="btn btn-primary no-border">
			<i class="ace-icon fa fa-plus bigger-130"></i>
			<span class="bigger-110">添加</span>
		</span>
	</a>

</div>

<div class="row">
	<table class="table table-hover table-striped">
		<thead>
		<tr>
			<th>#</th>
			<th>项目</th>
			<th>名称</th>
			<th>创建者</th>
			<th>时间</th>
		</tr>
		</thead>
		<tbody>
		%for project in projects:
		<tr>
			<td>${loop.index + 1}</td>
			<td><a href="/management/project/${project.id}">${project.name}</a></td>
			<td>${project.fullname}</td>
			<td>${project.user_create.name}</td>
			<td>${project.created}</td>
		</tr>
		%endfor
		</tbody>
	</table>
</div>

</%block>


<%block name="modal">
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">创建项目</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="post-form" role="form">
			<!-- #section:elements.form -->
			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1">
					项目标识
				</label>
				<div class="col-sm-9">
					<input type="text" id="form-field-1" name="name" placeholder="项目名" class="col-xs-10">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1">
					名称
				</label>
				<div class="col-sm-9">
					<input type="text" id="form-field-1" name="fullname" placeholder="项目全名" class="col-xs-10">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-1">
					说明
				</label>
				<div class="col-sm-9">
					<textarea type="text" id="form-field-1" name="description" placeholder="说明" class="col-xs-10"></textarea>
				</div>
			</div>
			<input type="hidden" id="submit-action" name="action" value="TaskProjectCreate"/>

        </form>
      </div>
      <div class="modal-footer">
        <button id="save-project" type="button" class="btn btn-primary no-border">保存</button>
      </div>
    </div>
  </div>
</div>
</%block>


<%block name="jsblock">
<script>
function saveProject(){
	$('#save-project').attr('disable', true);
	var paras = $('#post-form').serialize();
	$.getJSON('/management/action', paras, function(response){
		if(response.success == 1){
			window.location.reload();
        }
		else {
			alert(response.message);
            $('#save-project').removeAttr('disable');
		}
	})
}
$(document).ready(function(){
	$('#save-project').click(saveProject);
})
</script>
</%block>